@page "/Profile"
@using BusinessLogic.Entities
@using System.Text.Json
@using Microsoft.JSInterop
@using System.Net.Http.Json
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient

<h3>Editar Dados da Conta</h3>

<EditForm Model="currentUser" OnValidSubmit="SaveChanges">
    <p>
        <label for="name">Nome:</label>
        <InputText id="name" @bind-Value="currentUser.Name"/>
    </p>
    <p>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="currentUser.Email"/>
    </p>
    <p>
        <button type="submit">Guardar</button>
    </p>
</EditForm>

@code {
    private User currentUser = new User();
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        var authDto = await GetCurrentUser();
        if (authDto != null)
        {
            await LoadUserData(authDto.UserId);
        }
    }

    private async Task<AuthDto> GetCurrentUser()
    {
        var userJson = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "user");
        if (!string.IsNullOrEmpty(userJson))
        {
            return JsonSerializer.Deserialize<AuthDto>(userJson);
        }
        return null;
    }

    private async Task LoadUserData(Guid userId)
    {
        var user = await HttpClient.GetFromJsonAsync<User>($"http://localhost:5052/api/Users/{userId}");
            if (user != null)
            {
                currentUser = user;
                editContext = new EditContext(currentUser);
            }
    }

    private async Task SaveChanges()
    {
        var response = await HttpClient.PutAsJsonAsync($"http://localhost:5052/api/Users/{currentUser.UserId}", currentUser);
         
    }
}
